.background-1 {
    height: 300px;
    width: 300px;
    border-radius: 200px;
    position: absolute;
    opacity: .3;
    left: -100px;
    z-index: -10;
    background-color: black;
    
    
}
.background-2 {
    height: 300px;
    width: 300px;
    border-radius: 200px;
    position: absolute;
    top: 400px;
    opacity: .3;
    right: -50px;
    z-index: -10;
    background-color: black;
    
}
.background-3 {
    height: 300px;
    width: 300px;
    border-radius: 100%;
    position: absolute;
    top: 700px;
    opacity: .3;
    left: 150px;
    z-index: -10;
    background-color: black;
    
}
.background-4 {
    height: 300px;
    width: 300px;
    border-radius: 200px;
    position: absolute;
    bottom: 1500px;
    opacity: .3;
    left: -50px;
    z-index: -10;
    background-color: black;
}
.background-5 {
    height: 300px;
    width: 300px;
    border-radius: 200px;
    position: absolute;
    bottom: 1300px;
    opacity: .3;
    left: 60%;
    z-index: -10;
    background-color: black;
}